@font-face {
  font-family: 'Roboto';
  src: url('roboto.eot');
  src: url('roboto.eot?#iefix') format('embedded-opentype'),
  url('roboto.woff') format('woff'),
  url('roboto.ttf')  format('truetype'),
  url('roboto.svg#svgFontName') format('svg');
}

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  display: flex; /* This centers the content horizontally */
  justify-content: center; /* This centers the content horizontally */
  align-items: center; /* This centers the content vertically */
  height: 100vh; /* This takes up the whole viewport height */
  margin: 0;
}

#countdown {
  color: white;
  font-size: 100px; /* This makes the font bigger */
}
