@font-face {
  font-family: 'Roboto';
  src: url('roboto.eot');
  src: url('roboto.eot?#iefix') format('embedded-opentype'),
  url('roboto.woff') format('woff'),
  url('roboto.ttf')  format('truetype'),
  url('roboto.svg#svgFontName') format('svg');
}

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  display: flex;
  margin: 0;
}

#countdown, p{
  color: white;
  font-size: 60px;
  text-align: center;
  white-space: pre-wrap;
}
